[Desktop Entry]
Type=Application
Name=AnduinOS Updater
Comment=Upgrade AnduinOS to the latest version
Exec=anduinupdater
Icon=anduinupdater
Terminal=false
Categories=System;Settings;
StartupWMClass=AnduinOS Updater
